@use "src/styles/variables";

.header {
  width: 100%;
  height: 48px;
  background-color: variables.$header-color;
  color: variables.$base-text-bk-color;
  text-align: center;
  margin: 0;

  h1 {
    margin: 0;
  }
}